include includes/head
include includes/nav

body
	.container
		form(role='form' method='post' action='/settings')
			.row.justify-content-md-center.mt-5.mb-5
				.col-lg-3

					h1.mb-4 Add Log Type

					.mb-4
						label(for='name').form-label Name 
						input(type='text' name='name' required).form-control

					.mb-4
						label(for='unit').form-label Unit 
						input(type='text' name='unit').form-control

					.mb-4
						label(for='data_type').form-label Data Type
						select(name='data_type').form-select
							option(value='num') Number
							option(value='bool') Boolean 

					.form-check.form-switch
						.mb-4
							input(type='checkbox' name='is_daily').form-check-input
							label(for='is_daily').form-check-label Daily

					.form-check.form-switch
						.mb-4
							input(type='checkbox' name='is_active' checked).form-check-input
							label(for='is_active').form-check-label Active

					input(type='submit' value='Save').btn.btn-primary
