include includes/head

body
	.container
		form(role='form' method='post' action='/dailylog')
			.row.justify-content-md-center.mt-5.mb-5
				.col-lg-3

					h1 Daily Log
					p: small Latest log: 0000-00-00

					.mb-5
						label(for='date').form-label Date
						input(type='date' name='date' required).form-control

					h2 Feelings

					.mb-4.mt-3
						label(for='mood').form-label Mood 
						input(type='number' name='mood' required).form-control

					.mb-4
						label(for='happy').form-label Happiness
						input(type='number' name='happy' required).form-control

					.mb-4
						label(for='inlove').form-label In Love 
						input(type='number' name='inlove' required).form-control

					.mb-4
						label(for='stress').form-label Stress
						input(type='number' name='stress' required).form-control

					.mb-4
						label(for='depression').form-label Depressed 
						input(type='number' name='depression' required).form-control

					.mb-4
						label(for='paranoia').form-label Paranoia
						input(type='number' name='paranoia' required).form-control

					.mb-4
						label(for='fear').form-label Fear
						input(type='number' name='fear' required).form-control

					h2 Sexuality

					.mb-4
						label(for='libido').form-label Libido
						input(type='number' name='libido' required).form-control

					.mb-4
						label(for='masturbation').form-label Masturbation 
						input(type='number' name='masturbation' required).form-control

					.mb-4
						label(for='cuddle').form-label Cuddle 
						input(type='number' name='cuddle' required).form-control

					h4 Sex

					.mb-4
						label(for='sex_count').form-label Count
						input(type='number' name='sex_count' required).form-control

					.mb-4
						label(for='sex_qual').form-label Quality 
						input(type='number' name='sex_qual' required).form-control

					input(type='submit' value='Save').btn.btn-primary
